@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    margin: 0;
    background-image: url("../images/bg-pattern.png");
    font-family: 'Quicksand', sans-serif;
}

section, article {
    overflow: auto;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #e6ba0f;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    text-decoration: none;
    padding: 3px 5px;
    cursor: pointer;
}

.button.button-primary {
    background-color: #e6ba0f;
}

.button i.fa {
    margin: 0 3px;
}

.container {
    margin: 0 auto;
    width: 960px;
    box-sizing: border-box;
    padding: 0 1em;
}

.img-responsive {
    display: block;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

/* GENERAL */
ul.room-features {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

/* HEADER */
.header-main .top-navigation {
    background-color: black;
    color: white;
}

.header-main .top-navigation .nav-social ul {
    list-style-type: none;
}

.header-main .top-navigation .nav-social ul li a {
    color: #ccc;
    margin-left: 1em;
}

.header-main > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main .main-navigation {
    background-color: white;
}

.header-main .main-navigation .logo {
    width: 120px;
}

.header-main .main-navigation nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header-main .main-navigation nav ul li a {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 5px;
    padding: 3px 10px;
    color: #7f7f7f;
}

.header-main .main-navigation nav ul li a:hover,
.header-main .main-navigation nav ul li a.active {
    background-color: #e6ba0f;
    color: white;
}

/* FOOTER */
.footer-container {
    background-color: #dbdbdb;
}

.footer-container .footer-main {
    display: flex;
    justify-content: space-between;
    color: #7f7f7f;
}

.footer-container .footer-main ul.footer-nav {
    display: flex;
    list-style-type: none;
}

.footer-container .footer-main ul.footer-nav li:not(:last-child) {
    border-right: #7f7f7f solid 1px;
}

.footer-container .footer-main ul.footer-nav li a {
    margin: 0 8px;
    text-decoration: none;
    color: #7f7f7f;
}

/* PAGE */
.page-header {
    padding: 0;
}

/* HOMEPAGE */
.home-header img {
    height: 400px;
    object-fit: cover;
}

.home-content {
    background-color: white;
    padding-bottom: 1em;
}

.home-content .form-search {
    display: flex;
    justify-content: space-around;
    background-color: #eeeeee;
    padding: 1em;
}

.home-content .form-search input[type=number] {
    width: 100px;
}

.grid-rooms article {
    overflow: hidden;
    border: #eeeeee 1px solid;
}

.grid-rooms article header {
    overflow: hidden;
    height: 150px;
}

.grid-rooms article header img {
    transition: transform 0.5s;
    height: 150px;
    object-fit: cover;
}

.grid-rooms article:hover header img {
    transform: scale(1.2, 1.2);
}

.grid-rooms article footer {
    padding: 1em;
}

.grid-rooms article footer h3 {
    text-align: center;
}

/* ROOM PAGE */
.room-header img {
    height: 150px;
    object-fit: cover;
}

.room-content {
    background-color: white;
    padding: 1em;
}

.room-content .room-description {
    display: flex;
}

.room-content .room-description .room-description-images {
    flex: 1;
}

.room-content .room-description .room-description-content {
    flex: 2;
    padding: 0 1em;
}

.room-content .room-description .room-description-content h1 {
    margin-top: 0;
}

.room-content .room-description .room-description-content ul.room-features {
    justify-content: space-around;
}

.room-content .room-description .room-description-content p {
    text-align: justify;
}

.test{
    color: #7f7f7f;
}
